.feedback
  .inner-container
    .button
      img(src='style/assets/css/feedback.png#{rev}')
    .form
      .message Do you like my presentation? Send me your feedback (ideas, improvements, start-up) if true:&nbsp;
      .email
        a(href='mailto:konstantin.denerz+cv@gmail.com') konstantin.denerz+cv@gmail.com
    .clearfix
