.footer
  table
    tr
      td.footer-left
      td.footer-center
          .container-kopi
            img.emc2(src='style/assets/css/emc2.png#{rev}')
            .smoke.smoke-1
            .smoke.smoke-2
            .smoke.smoke-3
            .smoke.smoke-4
            img.kopi(src='style/assets/css/kopi.png#{rev}')
          .container-chalk
            img.chalk(src='style/assets/css/chalk.png#{rev}')
          .copyright Copyright &copy; 2014 Konstantin Denerz - &nbsp;
            a.impressum(href='impressum.html') Impressum
      td.footer-right
