.thingsilove
  .title-container
    h3
      span Things I
      span.heart &hearts;
  .subtitle-container
    h4 "There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle."
      span(data-tooltip)
        a(href='http://en.wikiquote.org/wiki/Albert_Einstein', target='_blank') [AE]
        .tooltip-content Albert Einstein, http://en.wikiquote.org/wiki/Albert_Einstein, 12/07/2014
  .content
    .stuff-coding.col-sm-4
      span(data-tooltip)
        img(src='style/assets/css/coding.png#{rev}')
        .tooltip-content
          span I
          span.heart &hearts;
          span building data-driven web applications.
      .text Coding

    .stuff-photography.col-sm-4
      span(data-tooltip)
        img(src='style/assets/css/photography.png#{rev}')
        .tooltip-content
          span Analog &nbsp;
          span.amp &amp; &nbsp;
          span Digital Photographer
      .text Photography
    .stuff-biking.col-sm-4
      span(data-tooltip)
        img(src='style/assets/css/biking.png#{rev}')
        .tooltip-content
          span Enduro &nbsp;
          span.amp &amp; &nbsp;
          span Downhill
      .text Biking
    .clearfix
