mixin satasks
  .stack
    mark Software Development:
  ul
    li Requirements engineering with customers
    li Creation of wireframes, sketches and mockups
    li Creation of software designs
    li Implementation and rollout of customer solutions on the following platforms: .NET, ASP.NET, SharePoint, Native Web Platform
    li Implementation of the testing phases
    li Execution of reviews
  .stack
    mark Project Management:
  ul
    li Project scheduling and management
    li Communication management
    li Escalation management
    li Project controlling
  .stack
    mark Sales Support:
  ul
    li Consulting with customers on technology and process level
    li Participation in pre-sales appointments
    li Realization of cost estimations
.timeline.col-xs-12.content
  .container-title
    h3.title Timeline
  table
    tr.event.end
      td.duration
      td
      td
      td
    tr.event
      td.duration
        span(data-tooltip)
          img(src='style/assets/css/event-point.png#{rev}')
          .tooltip-content Since May 2013
      td.arrow-container
        .arrow
      td.description
        .inner-container
          h4  Chief Software Architect
          .more.hidden
            .content-container
              address Data One GmbH, Saarbr&uuml;cken
              p Data One is a partner for consulting on information technology platforms and business solutions as well as for the development of software solutions. The technological trends of tomorrow will be implemented today with a process and technology-driven consulting approach.
              p My Tasks:
                +satasks()
              .stack
                mark Team leader .NET and SharePoint Development:
              ul
                li Leadership of the department on the technological level
                li Introduction of new frameworks and tools
                li Introduction of agile software development
                li Training of the team on the technological level
      td.state-container
        .state
    tr.event
      td.duration.short
        span(data-tooltip)
          img(src='style/assets/css/event-point.png#{rev}')
          .tooltip-content 1 Year and 8 Months
      td.arrow-container
        .arrow
      td.description
        .inner-container
          h4
            span Software Architect&nbsp;
            span.amp &amp;&nbsp;
            span Consultant
          .more.hidden
            .content-container
              address Data One GmbH, Saarbr&uuml;cken
              p Data One is a partner for consulting on information technology platforms and business solutions as well as for the development of software solutions. The technological trends of tomorrow will be implemented today with a process and technology-driven consulting approach.
              p My Tasks:
                +satasks()
      td.state-container
        .state
    tr.event
      td.duration.long
        span(data-tooltip)
          img(src='style/assets/css/event-point.png#{rev}')
          .tooltip-content 3 Years and 11 Months
      td.arrow-container
        .arrow
      td.description
        .inner-container
          h4  Software Engineer
          .more.hidden
            .content-container
              address Dacos Software GmbH, Saarbr&uuml;cken
              p Dacos developed a completely new generation of software solutions for the efficient management of assortments, prices and promotions in retail on highest technological level. The development of our innovative solutions occurs with the consistent application of agile software development methods.

              p My tasks:
              ul
                li Further development of an existing application for the automatic optimization of shelf-edge prices and advertising leaflet in retail.
                li Development of an innovative process-driven price management and price optimization system. Technical lead for the web-based client.
                li Requirements engineering and support the product owner in managing product backlog.
                li Periodical rollout of the core product to the customers.
                li Designing sophisticated wireframes and designs with Inkscape
                li Realization of interactive and innovative prototypes based on the native web platform
                li Implementation of RIA based on the native web platform
                li Design and implementation of sustainable and scalable server architecture
                li Modeling and implementation of the relational and the multidimensional persistence layer with MS SQL Server and MS SQL Server Analysis Services
                li Implementation of Scrum process
                li Definition and realization of the continuous integration during the development lifecycle.
      td.state-container
        .state
    tr.event
      td.duration
        span(data-tooltip)
          img(src='style/assets/css/event-point.png#{rev}')
          .tooltip-content 3 Years
      td.arrow-container
        .arrow
      td.description
        .inner-container
          h4
            span Software Engineer&nbsp;
            span.amp &amp;&nbsp;
            span Dual Student
          .more.hidden
            .content-container
              address deutsche mailbox GmbH, Saarlouis & ASW – Berufsakademie Saarland e.V., Neunkirchen
              p
              .stack
                mark Work:
                ul
                  li Implemented a process for the procurement of images from heterogeneous sources.
                  li Migration of tools from Visual Basic to .NET platform that should be used to process data.
                  li Maintenance of data processing tools that are implemented in Delphi (Object Pascal).
              p
              .stack
                mark Study:
                span The students of business informatics acquire both business and technological knowledge. I have found my passion for software development in the first year of study.
      td.state-container
        .state
    tr.event.start
      td.duration
      td
      td
      td
