script(src='lib/jquery/jquery.js', type='text/javascript')
//script(src='lib/jquery-ui/jquery-ui.js', type='text/javascript')

link(href='lib/bootstrap/bootstrap.css', rel='stylesheet', type='text/css')

link(href='lib/animatecss/animate.css', rel='stylesheet', type='text/css')


link(href='lib/tooltip/tooltip.css#{rev}', rel='stylesheet', type='text/css')
script(src='lib/tooltip/tooltip.js#{rev}', type='text/javascript')
script(src='lib/viewport/scripts/viewport.js#{rev}', type='text/javascript')

//link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')

script(src='lib/d3/d3.js', type='text/javascript')

link(href='lib/outdatedBrowser/outdatedBrowser.min.css', rel='stylesheet', type='text/css')
script(src='lib/outdatedBrowser/outdatedBrowser.min.js', type='text/javascript')
