head
  title CV - Konstantin Denerz
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='google', value='notranslate')
  include dev
  include head-lib

  link(rel='stylesheet', type='text/css', href='style/core.css#{rev}')
  script(src='scripts/cv.min.js#{rev}', type='text/javascript')
