include sections/warnings
include sections/feedback
include sections/print
#about.anchor
.row
  include sections/about
.separator
  .left-bottom
  .middle
  .right-bottom
#timeline.anchor
.row.inner
  include sections/timeline
.separator
  .left-top
  .middle
  .right-top
#common.anchor
.row
  include sections/common
#roles.anchor
.row.inner
  include sections/roles
.separator
  .left-top
  .middle
  .right-top
#skills.anchor
.row
  include sections/skills
#feeds.anchor
.row.inner
  include sections/feeds
.separator
  .left-top-blue
  .middle
  .right-top-blue
#thingsilove.anchor
.row
  include sections/thingsilove
#connect.anchor
.row.inner
  include sections/connect
.row
  include sections/footer
